<div class="body" >
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Juan" #input >
    </mat-form-field>
      
      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" matSort  >
          
          <!-- ID Column -->
          <ng-container matColumnDef="id_persona" sticky >
            <th mat-header-cell *matHeaderCellDef > ID </th>
            <td mat-cell *matCellDef="let item"> {{item.id_persona}}</td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="nombres_per" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre(s) </th>
            <td mat-cell *matCellDef="let item " > {{item.nombres_per}}  </td>
          </ng-container>
          <ng-container matColumnDef="primer_apellido" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido paterno </th>
            <td mat-cell *matCellDef="let item "> {{item.primer_apellido}}  </td>
          </ng-container>
          <ng-container matColumnDef="segundo_apellido" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido materno </th>
            <td mat-cell *matCellDef="let item "> {{item.segundo_apellido}}  </td>
          </ng-container>
          <ng-container matColumnDef="nro_ci" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> C.I.</th>
            <td mat-cell *matCellDef="let item "> {{item.nro_ci}}  </td>
          </ng-container>
          <ng-container matColumnDef="correo" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let item "> {{item.correo}}  </td>
          </ng-container>
          <ng-container matColumnDef="telefono" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let item "> {{item.telefono}}  </td>
          </ng-container>
          <ng-container matColumnDef="fecha_nac" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
            <td mat-cell *matCellDef="let item "> {{item.fecha_nac}}  </td>
          </ng-container>
          <ng-container matColumnDef="sexo" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genero </th>
            <td mat-cell *matCellDef="let item "> {{item.sexo.nombre_sexo}}  </td>
          </ng-container>
          <ng-container matColumnDef="ciudad" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad</th>
            <td mat-cell *matCellDef="let item "> {{item.ciudad.nombre_ciudad}}  </td>
          </ng-container>
          <ng-container matColumnDef="Pais" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pais </th>
            <td mat-cell *matCellDef="let item "> {{item.Pais.nombre_pais}}  </td>
          </ng-container>
      
          

          <!-- Star Column -->
          <ng-container matColumnDef="accion" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <div class="example-button-container">
                <button mat-icon-button color="warn" aria-label="Boton eliminar">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Boton eliminar">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
      
        
      </section>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>