.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  box-shadow: 5px 0px 30px rgba(90, 90, 90, 0.1);
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.elemento {
  margin-left: auto;
}

/* <--line-height-sm:20px>; */
:root {
  --line-height-sm: 20px;
  --ui-nav-link-icon-spacing: 10px;
}
.top-nav{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-left: auto;
  list-style: none;
  white-space:nowrap;
}
.texto-item{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: Helvetica;

}
.texto-item-sub{
  font-size: 13px;
  color: rgb(127, 224, 0);
  font-family: Helvetica;
}

.usuario-activo{
  margin-bottom: -15px;
  display: block;
  
}

.separador-iconos{
  margin-left: 10px;
  display: block;
  float: right;
}

.example-spacer {
  flex: 1 1 auto;
}


.sep-label {
  display:inline-block;
  flex-direction: column;
  align-items: center; /* Centra verticalmente los elementos */
  
}

/* .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:none;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. 
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. 
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. 
    flex: 1 0 auto;
  }

  .fondo-menu{
    background:#fff;
    border: none;
    box-shadow: 15px 0 20px -13px rgba(0, 0, 0, 0.2);
  }

  .elementos-menu{
    background-color: #fff;
    font-size: 14px;
    
    
  }
  .mat-nav-list.elementos-menu a:hover {
    background-color: #fff;
    color: #0236e2;
  }
  
  .alto-elementos{
    height:none ;
  } */