<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    
    <mat-list *ngIf="informacionUsuario">
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <h4 matListItemTitle>
          {{informacionUsuario.usuario.empleado.persona.nombres_per}}

        </h4>
        <p matListItemLine>
          {{informacionUsuario.usuario.tipo_usuario.nombre_tipo_usuario}}
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <mat-nav-list dense>
      <a mat-list-item routerLink="/admin/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/admin/persona">
        <mat-icon matListItemIcon>account_box</mat-icon>
        Persona
      </a>
      <a mat-list-item routerLink="/admin/participante">
        <mat-icon matListItemIcon>groups_2</mat-icon>
        Participantes
      </a>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        
        <mat-expansion-panel-header style="padding-left:10px; padding-right: 20px;">
          <mat-panel-title >
            <mat-icon matListItemIcon class="icono">dns</mat-icon>
            Capacitacion 
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/capacitacion">Listar capacitaciones</a>
          <a mat-list-item href="#">Reportes</a>
          <a mat-list-item href="#">Asistencias</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <a mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SISICAP</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="belowMenu" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>










<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">SISICAP</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        
        <mat-sidenav class="fondo-menu" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            opened="true" fixedTopGap="56">
            <mat-nav-list class="elementos-menu" >
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <p *ngFor="let content of fillerContent">{{content}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> 


 -->





<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown"  aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->