
<div class="container-tolbar">
  <mat-toolbar color="primary">
    <button
    class="alinear-boton"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>SISICAP</span>
    <span class="example-spacer"></span>

    <span
      [matMenuTriggerFor]="belowMenu"
      aria-label="Example icon-button with share icon"
    >
      <ul style="margin: 0; padding: 0">
        <li class="lista-usuario" style="margin: 1rem; padding: 0">
          <ng-container *ngIf="informacionUsuario">
            <!-- <mat-icon>person</mat-icon> -->
            <img
              [src]="informacionUsuario.usuario.foto_perfil"
              (error)="onImageError($event)" 
              style="
                width: 35px;
                height: 35px;
                border: solid 2px;
                color: #ffffff;
              "
              alt="foto"
              class="rounded-circle"
            />

            <div class="contenedor-usuario">
              <span class="item-usuario" style="font-size: 14px">
                {{ informacionUsuario.usuario.empleado.persona.nombres_per }}
                {{ informacionUsuario.usuario.empleado.persona.apellidos }}
              </span>
              <span
                style="font-size: 13px; font-family: 'Roboto'; font-weight: 100"
              >
                {{
                  informacionUsuario.usuario.tipo_usuario.nombre_tipo_usuario
                }}
              </span>
            </div>
            <!-- <pre>{{informacionUsuario | json}}</pre> -->
          </ng-container>

          <mat-icon> arrow_drop_down </mat-icon>
        </li>
      </ul>
    </span>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item>Tareas</button>
      <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="contenido-lista">
          <ul>
            <li>
              <a
                class="mi-lista-1 size-a"
                routerLink="./dashboard"
                routerLinkActive="active"
              >
                <mat-icon>dashboard</mat-icon>
                Dashboard
              </a>
            </li>
            <li>
              <a
                class="mi-lista-1 size-a"
                routerLink="./usuario"
                routerLinkActive="active"
              >
                <mat-icon>group</mat-icon>
                Usuarios
              </a>
            </li>
            <li>
              <a
                class="mi-lista-1 size-a"
                routerLink="./persona"
                routerLinkActive="active"
              >
                <mat-icon>account_box</mat-icon>
                Persona
              </a>
            </li>
            <!--PRUEBA PERMISO--->
            <!-- <ng-container *ngFor="let item of dataNiveles"> -->
              <li *appControlRoles="dataNiveles">
                <a class="mi-lista-1 size-a" routerLink="./participante" routerLinkActive="active">
                  <mat-icon>groups_2</mat-icon>
                  Participantes
                </a>
              </li>
            <!-- </ng-container> -->
            <!-- <li>
              <a class="mi-lista-1 " (click)="toggleCollapse()">
                <mat-icon >school</mat-icon>
                Cursos
              </a>
              <div id="lista-colapse" [ngClass]="{'collapse': isCollapsed}">
                <ul class="lista">
                  <li class="mi-lista" routerLink="/admin/capacitacion">Listar capacitaciones</li>
                  <li class="mi-lista" href="#">Reportes</li>
                  <li class="mi-lista" href="#">Asistencias</li>
        
                </ul>
              </div>
            </li> -->
            <li>
              <a
                class="mi-lista-1 size-a collapse-toggle"
                data-bs-toggle="collapse"
                data-bs-target="#lista-colapse"
                aria-expanded="false"
                routerLinkActive="active"
              >
                <mat-icon>school</mat-icon>
                Capacitación
                <mat-icon class="icon"> chevron_right </mat-icon>
              </a>
              <div id="lista-colapse" class="collapse" style="padding: 0.4rem">
                <ul class="lista">
                  <li>
                    <a
                      class="mi-lista size-a"
                      routerLink="./capacitacion"
                      routerLinkActive="active"
                      >Listar capacitaciones</a
                    >
                  </li>
                  <li>
                    <a
                      class="mi-lista size-a"
                      href="#"
                      routerLinkActive="active"
                      >Reportes</a
                    >
                  </li>
                  <li>
                    <a class="mi-lista size-a" href="#">Asistencias</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a
                class="mi-lista-1 size-a"
                routerLink="./contactos"
                routerLinkActive="active"
              >
                <mat-icon>contact_phone</mat-icon>
                Contactos
              </a>
            </li>
            <li>
              <a
                class="mi-lista-1 size-a"
                routerLink="./seguimiento"
                routerLinkActive="active"
              >
                <mat-icon>tab_group</mat-icon>
                Seguimientos
              </a>
            </li>
            <!-- <a mat-list-item (click)="logout()">
              <mat-icon matListItemIcon>logout</mat-icon>
              Cerrar sesión
            </a> -->
          </ul>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">SISICAP</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        
        <mat-sidenav class="fondo-menu" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            opened="true" fixedTopGap="56">
            <mat-nav-list class="elementos-menu" >
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <p *ngFor="let content of fillerContent">{{content}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> 


 -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown"  aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
