<h1 mat-dialog-title>Inscribir participantes</h1>


<div mat-dialog-content class="row ">

  <div class="col-md-12">
    

    <ng-select class="ng-select-container" 
      [items]="people$ | async"
      bindLabel="nombreCompleto"
      
      [(ngModel)]="seleccionado" 
      [hideSelected]="true" 
      [multiple]="true" 
      [virtualScroll]="true"
      [loading]="datosCargados"
      [trackByFn]="trackByFn"
      
      typeToSearchText="Introduce el nombre del participante a buscar" 
      [typeahead]="peopleInput$"
      placeholder="Escribe el nombre a buscar"
      [appendTo]="'body'" 
      [isOpen]="mostrarDesplegable"
      (open)="mostrarDesplegable = false" 
      (change)="actualizarOpcionesSeleccionadas($event)"
      
      >
      
      <!-- <ng-container *ngIf="this.listaParticipantes$ | async as listParticipantes">

        (input)="actualizarTerm($event)"

        
        <ng-option *ngFor="let participante of listParticipantes.participantes" [value]="participante.id_participante">
          {{participante.Personas.nombres_per}} {{participante.Personas.apellidos}}
        </ng-option>
      </ng-container> -->
    </ng-select>
  </div>

  <pre>
     <!-- {{seleccionado | json}}  -->
    {{opcionesSeleccionadas | json}}
    
  </pre> 
</div>


<div mat-dialog-actions>
  
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-raised-button color="primary"
    (click)="agregarInscritos(opcionesSeleccionadas)"
    [disabled]="habilitarBoton"
    >Inscribir
  </button>
</div>