<div class="container">
    <ng-container *ngIf="this.UnSeguimiento$ | async as Seguimiento ">

        <div class="row">
            <div class="col-md-12">
                <h1 class="titulo">{{ Seguimiento.UnGrupoSeguimiento.nombre_seguimiento}}</h1>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4">
                <h6 class="titulo-cont">Fecha creado</h6>
                <p class="subtitulo">{{Seguimiento.UnGrupoSeguimiento.fecha_creado}}</p>
            </div>
            <div class="col-md-4">
                <h6 class="titulo-cont">Responsable</h6>
                <p class="subtitulo">{{Seguimiento.UnGrupoSeguimiento.Empleado.persona.nombres_per}}
                    {{Seguimiento.UnGrupoSeguimiento.Empleado.persona.apellidos}}</p>
            </div>
            <div class="col-md-4">
                <h6 class="titulo-cont">Capacitación:</h6>
                <p class="subtitulo">{{Seguimiento.UnGrupoSeguimiento.Capacitacion.nombre_capacitacion}}
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <button mat-stroked-button color="primary">Editar
                    <mat-icon>edit_square</mat-icon>
                </button>
                <button mat-button extended class="boton-importar no-overlap" routerLink="importar" >Importar
                    <mat-icon class="material-symbols-outlined" fontIcon="upload"></mat-icon>
                </button>

            </div>
        </div>
    </ng-container>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
              
            <section class="example-container mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Position Column -->

                    <ng-container matColumnDef="nro">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> No. </th>
                        <td mat-cell *matCellDef="let item; let i = index" class="mat-colum">{{ i + 1 }} </td>
                      </ng-container>

                    <ng-container matColumnDef="nombre_apellidos">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Nombre y apellidos</th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.nombre_apellidos}} </td>
                    </ng-container>
            
                    <!-- Name Column -->
                    <ng-container matColumnDef="numero_contacto">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Nro Celular </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.numero_contacto}} </td>
                    </ng-container>
            
                    <!-- Weight Column -->
                    <ng-container matColumnDef="correo_contacto">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Correo electrónico </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.correo_contacto}}</td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_actualizacion">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Actualización </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.fecha_actualizacion}}</td>
                    </ng-container>

                    <ng-container matColumnDef="prox_llamada">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Próxima llamada </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.prox_llamada}}</td>
                    </ng-container>

                    <ng-container matColumnDef="id_tipo_seguimiento">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Tipo seguimiento </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.TipoSeguimiento?.nombre_tipo_seguimiento}}</td>
                    </ng-container>
                    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="nombre_empresa">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Empresa </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.nombre_empresa}} </td>
                    </ng-container>

                    <ng-container matColumnDef="profesion">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Profesión </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.profesion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="intereses">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Intereses </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.intereses}} </td>
                    </ng-container>

                    <ng-container matColumnDef="observaciones">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Observaciones </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.observaciones}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_sexo">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Género </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.Sexo_contacto?.nombre_sexo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_ciudad">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Ciudad </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.Ciudad_contacto?.nombre_ciudad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_pais">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> País </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.Pais_contacto?.nombre_pais}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_estado_contacto">
                        <th mat-header-cell *matHeaderCellDef class="mat-colum"> Estado </th>
                        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.Contactos.Estado?.nombre_estado}} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encuentran resultados"{{input.value}}"</td>
                    </tr>
                </table>
            </section>
              <mat-paginator [length]="resultsLength"  [pageSize]="10" aria-label="Mostrando paginas de contactos"></mat-paginator>
        </div>

    </div>
</div>