<!-- <app-layout></app-layout> -->

<div class="content">

  <div style="padding-bottom:1em;">
    <h4 style="font-size: 20px; font-weight: 500; color: #002f8d;">Capacitaciones</h4>
    <div class="row">
      <div class="col-md-6">
        <div style="padding-bottom:1em;">
          <button mat-button extended class="boton-agregar no-overlap" (click)="agregaCapacitacion()" >
            <mat-icon>add_box</mat-icon>
            Crear capacitación
          </button>
        </div> 
    
      </div>
      <div class="col-md-6">
        <mat-form-field style="width: 100%;">
          <mat-label>Buscar</mat-label>
          <input  matInput (input)="applyFilter($event)" placeholder="Ej. Nombre de capacitación..." #input>
        </mat-form-field>
      </div>
    </div>
    
  </div>
  <div class="contenedor-grid">
    <section  *ngFor="let item of filtrados">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <section  class="contenedor-textos">
              <mat-card-title class="texto-item"
              [ngClass]="{'long-title': item.nombre_capacitacion.length > 8}">{{item.nombre_capacitacion}}</mat-card-title>
              <mat-card-subtitle>{{item.Categoria.nombre_categoria}}</mat-card-subtitle>
              <mat-card-subtitle><b>Inicio: </b>{{item.fecha_inicio_cap| date:'dd/MM/yyyy'}}</mat-card-subtitle>
              <mat-card-subtitle><b>Fin: </b>{{item.fecha_fin_cap| date:'dd/MM/yyyy'}}</mat-card-subtitle>
              <mat-card-subtitle><span [class.color-verde]="item.vigente == true" [class.color-rojo]="item.vigente == false"  class="badge">{{item.vigente? 'Vigente': 'No vigente'}}</span></mat-card-subtitle>
            </section>
           
            <img mat-card-lg-image  src="./../../../../../assets/img/capacitacion-imagen.png" style="padding-right: 8px;">
          </mat-card-title-group>
          
          <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        </mat-card-header>
        
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a  [routerLink]="['ver', item.id_capacitacion]"  class="no-overlap boton-curso" mat-raised-button color="primary"  >Ver capacitación</a>
        </mat-card-actions>
        
      </mat-card>
    </section>
    
   </div> 
</div>