<!-- <app-layout></app-layout> -->

<div class="content">

  <div style="padding:15px;">
    <button mat-button extended class="boton-agregar no-overlap" (click)="agregaCapacitacion()" >
      <mat-icon>add_box</mat-icon>
      Crear capacitación
    </button>
  </div>
  <div *ngIf="this.informacionCapacitaciones$ | async as Capacitacion " fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
      *ngFor="let item of Capacitacion.UnaCapacitacion">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="texto-item"
            [ngClass]="{'long-title': item.nombre_capacitacion.length > 8}">{{item.nombre_capacitacion}}</mat-card-title>
          <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="./../../../../../assets/img/img-generica.jpg" style="padding: 8px;">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a  [routerLink]="['ver', item.id_capacitacion]"  class="no-overlap boton-curso" mat-raised-button color="primary"  >Ver capacitación</a>
        </mat-card-actions>
        
      </mat-card>
    </div>
    
  </div>
</div>