mat-toolbar {
  justify-content: space-between;
  
}
.no-overlap {
  position: relative;
  /* margin-left: 8px; */
  z-index: 0;
}
.content {
  padding: 16px;
  z-index: 1;
}

.content > mat-card {
  margin-bottom: 16px;
}
.mat-card{
  z-index: 2;
  
}

.texto-item{
  font-size: 16px;
  font-weight: bold;
  color: rgb(114, 114, 114);
  font-family: Helvetica;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
}

.texto-item.long-title{
  white-space: nowrap; /* hace que el texto no se salte a la siguiente línea */
  overflow: hidden; /* oculta cualquier texto que desborde del contenedor */
  text-overflow: ellipsis ; /* agrega puntos suspensivos para indicar que hay más texto oculto */
}

.mat-mdc-card-header{
  display: block;
}
.boton-curso{
  width: 100%;
}

.boton-agregar{
  color: #ffffff !important;
  background-color: #91BF23;
}

.color-rojo {
  background-color: rgba(247, 95, 95, 0.396);
  color: rgb(72, 9, 9); /* Cambia el color del texto si es necesario */

}
.color-verde{
  background-color: rgb(33, 207, 71);
  color: rgb(255, 255, 255); /* Cambia el color del texto si es necesario */

}

.badge{
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-textos{
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contenedor-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 16px;
  max-width: 1920px;
  margin: 0 auto;
}

/* @media (max-width: 651px ) {
  .contenedor-textos{
    width: 400px;
  }
}

@media (max-width : 650px ) {
  .contenedor-textos{
    width: 300px;
  }
}

@media (max-width: 900px ) {
  .contenedor-textos{
    width: 300px;
  }
} */