
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div style="padding-bottom:1em;">
        <button *appControlRoles="1" mat-raised-button extended color="primary" (click)="agregaSeguimiento()" >
          <mat-icon>add_box</mat-icon>
          Crear seguimiento
        </button>
      </div> 
  
    </div>
    <div class="col-md-6">
      <mat-form-field style="width: 100%;">
        <mat-label>Buscar</mat-label>
        <input  matInput (input)="applyFilter($event)" placeholder="Ej. Seguimiento..." #input>
      </mat-form-field>
    </div>
  </div>

     
  <div class="contenedor-grid">
    <section  *ngFor="let item of filtrados">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <section  class="contenedor-textos">
              <mat-card-title class="texto-item " [ngClass]="{'long-title': item.nombre_seguimiento.length > 8}">
                {{item.nombre_seguimiento}}
              </mat-card-title>
              <mat-card-subtitle><b>Encargado: </b>{{item.Empleado.PersonaEmpleado.nombres_per}} {{item.Empleado.PersonaEmpleado.apellidos}}</mat-card-subtitle>
              <mat-card-subtitle><b>Capacitación: </b>{{item.Capacitacion.nombre_capacitacion}}</mat-card-subtitle>
              
            </section>
           
            <img mat-card-lg-image  src="./../../../../../assets/img/seguimiento-imagen.png">
          </mat-card-title-group>
          
          <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        </mat-card-header>
        
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['ver', item.id_grupo_seguimiento]" class="no-overlap boton-curso" mat-raised-button
            color="primary">Ver seguimiento</a>

        </mat-card-actions>
        
      </mat-card>
    </section>
    
   </div> 

    <!-- <ng-container  >
      <div class="row"  >
        <div class="col-sm-3 py-2" *ngFor="let item of filtrados">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="texto-item " [ngClass]="{'long-title': item.nombre_seguimiento.length > 8}">
                {{item.nombre_seguimiento}}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../../../../assets/img/img-seguimiento.jpg" style="padding: 8px;" alt="img llamadas">
    
            <mat-card-actions>
              <a [routerLink]="['ver', item.id_grupo_seguimiento]" class="no-overlap boton-curso" mat-raised-button
                color="primary">Ver seguimiento</a>
    
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-container> -->
  </div>