<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="this.capacitacion$ | async as cap ">
                
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="titulo">{{ cap.UnaCapacitacion.nombre_capacitacion}}</h1>
                        </div>
                    </div>
                
                
                    <div class="row">
                        <div class="col-md-2">
                            <div class="contenedor-titulo">Fecha de inicio:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.fecha_inicio_cap}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="contenedor-titulo">Fecha final:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.fecha_fin_cap}}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="contenedor-titulo">Categoria:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.Categoria.nombre_categoria}}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="contenedor-titulo">Cantidad de módulos:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.cantidad_modulos}}</div>
                        </div>
                    </div>
                
            </ng-container>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div>
                <!-- <app-inscritos-capacitacion >           
                </app-inscritos-capacitacion> -->
                
                    <div class="row">
                        <div class="col-md-12 p-2">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Juan" #input>
                            </mat-form-field>
                        </div>

                    </div>
                    <section class="example-container mat-elevation-z8" tabindex="0">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id_participante">
                                <th mat-header-cell *matHeaderCellDef> # </th>
                                <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="nombres_per" sticky>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres(s) </th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.Personas.nombres_per}} </td>
                            </ng-container>
                            <ng-container matColumnDef="apellidos">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido(s) </th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.Personas.apellidos}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nro_ci">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> C.I.</th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.Personas.nro_ci}} </td>
                            </ng-container>

                            <ng-container matColumnDef="codigo_participante">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.codigo_participante}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ocupacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocupación </th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.ocupacion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="id_usuario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Registrante</th>
                                <td mat-cell *matCellDef="let item "> {{item.Participantes.usuario.nombre_usuario}}
                                </td>
                            </ng-container>


                            <!-- Star Column -->
                            <ng-container matColumnDef="accion" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button mat-icon-button color="dark" aria-label="Boton editar" (click)="abrirInformacion(element)">
                                            <mat-icon style="color: #8c8c8c;">visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" aria-label="Boton eliminar">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </section>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users">
                    </mat-paginator>

                
                <!-- <div *ngIf=" listTabla$ | async as list">
                    <div *ngFor="let items of list.inscritos">
                        {{items.Participantes.Personas.nombres_per}} {{items.Participantes.Personas.apellidos}}
                    </div>

                </div> -->
            </div>
        </div>
        <div class="col-md-3">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <h2 matListItemTitle> General</h2>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-raised-button color="primary" (click)="inscribirParticipante()">Inscribir
                        participante</button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <ng-container *ngIf="this.capacitacion$ | async as cap ">
                        <a class="link" matListItemTitle (click)="editarCapacitacion(cap)"
                            style="cursor: pointer;">Editar capacitación </a>
                    </ng-container>

                </mat-list-item>

                <!-- <div *ngIf="this.capacitacion$ | async as cap " >
                    <pre>
                        capacitacion: {{cap | json}}
                    </pre>
                </div> -->

                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle href="#">Eliminar capacitación</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle (click)="verReporte()" style="cursor: pointer;">Descargar reporte
                        pdf</a>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle routerLink="/admin/capacitacion">Volver atras</a>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
