.body{
    padding: 2em;
}

.my-card{
    box-shadow: none;
    width: 100%;
}

nav {
    background-color: none;
    width: 250px;
    height: 100%;
  }
  
  nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav  {
    background-color: none;
    text-align: left;
  }
  
  mat-list-item a:hover {
    color: rgb(40, 40, 202);
    background-color: none;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    text-decoration-line: none;
    display: block;
    
  }
