<div class="body">
    <div>
        <mat-grid-list [cols]="colSize" rowHeight="150px" >
            <ng-container *ngIf="this.capacitacion$ | async as cap ">        
                <mat-grid-tile [colspan]="cols" [rowspan]="1">
                    <mat-card class="my-card">
                        <mat-card-header>
                          <mat-card-title>
                            <h2>{{ cap.UnaCapacitacion.nombre_capacitacion}}</h2>
                          </mat-card-title>
                          <mat-card-subtitle>
                            <div>
                                <p>
                                    <b>Fecha de inicio: </b>{{cap.UnaCapacitacion.fecha_inicio_cap}}
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <b>Fecha final: </b>{{cap.UnaCapacitacion.fecha_fin_cap}}
                                </p>
                                
                            </div>

                          </mat-card-subtitle>
                        </mat-card-header>        
                    </mat-card>   
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2" >                   
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <h2 matListItemTitle> General</h2>                       
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <a matListItemTitle href="#">Editar capacitación</a>                                              
                            
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <a matListItemTitle href="#">Eliminar capacitación</a>                                             
                               
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <a matListItemTitle routerLink="/admin/capacitacion">Volver atras</a>
                        </mat-list-item>
                        
                        
                    </mat-list>
                    
                </mat-grid-tile>
                
            </ng-container>
        
        </mat-grid-list>
    </div>
    
</div>