.body {
  padding: 2em;
}

.my-card {
  box-shadow: none;
  width: 100%;
}

.contenedor_incritos {
  overflow: auto;
  max-height: 100%;

}

nav {
  background-color: none;
  width: 250px;
  height: 100%;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: none;
  text-align: left;
}

a.link:hover {
  color: #75d301;

}

a {
  color: #000000;
  text-decoration: none;
  text-decoration-line: none;
  display: block;

}

.contenedor-info {
  display: flex;
  justify-content: center;
  
  padding: 5px;
  margin: 3px;
  background-color: #0086e514;
  border-radius: 5px;
  justify-content: center;

}

.contenedor-titulo{
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-size: 14px;
  margin: 3px;
  padding: 5px;
  background-color: #006DB8;
  border-radius: 5px;
}

.titulo{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #006DB8;
  font-size: 22px;
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
}



.example-container {
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  height: auto;

}

table {
  width: 100%;
}

td.mat-column-star {
  width: auto;
  padding-right: 8px;

}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;

}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;

}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;

}

.mat-mdc-table {
  table-layout: auto;
  white-space: nowrap;

}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 60px;
}