<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="this.capacitacion$ | async as cap ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"><h1 class="titulo">{{ cap.UnaCapacitacion.nombre_capacitacion}}</h1></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="contenedor-titulo">Fecha de inicio:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.fecha_inicio_cap}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="contenedor-titulo">Fecha final:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.fecha_fin_cap}}</div> 
                        </div>
                        <div class="col-md-4">
                            <div class="contenedor-titulo">Categoria:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.Categoria.nombre_categoria}}</div> 
                        </div>
                        <div class="col-md-4">
                            <div class="contenedor-titulo">Cantidad de módulos:</div>
                            <div class="contenedor-info">{{cap.UnaCapacitacion.cantidad_modulos}}</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-9">
            <div >
                <app-inscritos-capacitacion >           
                </app-inscritos-capacitacion>
            </div>
        </div>
        <div class="col-md-3">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <h2 matListItemTitle> General</h2>
                </mat-list-item>
                <mat-list-item role="listitem">                    
                    <button mat-raised-button color="primary" (click)="inscribirParticipante()">Inscribir participante</button>                   
                </mat-list-item>
                <mat-list-item role="listitem">
                    <ng-container *ngIf="this.capacitacion$ | async as cap ">
                        <a class="link" matListItemTitle (click)="editarCapacitacion(cap)" style="cursor: pointer;" >Editar capacitación </a>
                    </ng-container>
                    
                </mat-list-item>
    
                <!-- <div *ngIf="this.capacitacion$ | async as cap " >
                    <pre>
                        capacitacion: {{cap | json}}
                    </pre>
                </div> -->
                
                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle href="#">Eliminar capacitación</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle (click)="verReporte()" style="cursor: pointer;">Descargar reporte pdf</a>
                </mat-list-item>
                
                <mat-list-item role="listitem">
                    <a class="link" matListItemTitle routerLink="/admin/capacitacion">Volver atras</a>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>


<!-- <div class="flex-container">
    <div class="flex-item-left">
        <div class="contenedor_incritos">
            <app-inscritos-capacitacion class="full-width">
                
            </app-inscritos-capacitacion>
        </div>

    </div>
    <div class="flex-item-right">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <h2 matListItemTitle> General</h2>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matListItemTitle href="#">Editar capacitación</a>

            </mat-list-item>
            <mat-list-item role="listitem">
                <a matListItemTitle href="#">Eliminar capacitación</a>

            </mat-list-item>
            <mat-list-item role="listitem">
                <a matListItemTitle routerLink="/admin/capacitacion">Volver atras</a>
            </mat-list-item>


        </mat-list>
    </div>
</div> -->
<!-- 
<div class="body">

    <mat-grid-list [cols]="colSize" rowHeight="2:1">
        <ng-container *ngIf="this.capacitacion$ | async as cap ">
            <mat-grid-tile [colspan]="cols" [rowspan]="1">
                <mat-card class="my-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>{{ cap.UnaCapacitacion.nombre_capacitacion}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                <p>
                                    <b>Fecha de inicio: </b>{{cap.UnaCapacitacion.fecha_inicio_cap}}
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <b>Fecha final: </b>{{cap.UnaCapacitacion.fecha_fin_cap}}
                                </p>

                            </div>

                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>


            </mat-grid-tile>

            <mat-grid-tile [colspan]="cols" rowspan="6">
                <div class="contenedor_incritos">
                    <app-inscritos-capacitacion>
                    </app-inscritos-capacitacion>
                </div>

            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <h2 matListItemTitle> General</h2>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <a matListItemTitle href="#">Editar capacitación</a>

                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <a matListItemTitle href="#">Eliminar capacitación</a>

                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <a matListItemTitle routerLink="/admin/capacitacion">Volver atras</a>
                    </mat-list-item>


                </mat-list>

            </mat-grid-tile>

        </ng-container>

    </mat-grid-list>


</div> -->