<div class="container-fluid">
  <div style="padding-bottom: 1em;">
    <h4 style="font-size: 20px; font-weight: 500; color: #002f8d; padding-top: 0.6rem;">Usuarios</h4>
    <button *appControlRoles="26" mat-raised-button style="margin-right: 8px;" color="primary" (click)="nuevoUsuario()"> Nuevo usuario</button>
    <button *appControlRoles="34" mat-raised-button color="primary" routerLink="gestionar-roles"> Gestionar roles</button>

    
    

  </div>

  <mat-form-field style="width: 100%;">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Juan" #input>
  </mat-form-field>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="id_usuario">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="foto_perfil">
        <th mat-header-cell *matHeaderCellDef> Foto de perfil </th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.foto_perfil" (error)="onImageError($event)" style="
                                width: 40px;
                                height: 40px;
                                border: solid 2px;
                                color: #ffffff;
                              " alt="foto" class="rounded-circle" />
        </td>

      </ng-container>
      <ng-container matColumnDef="nombre_usuario">
        <th mat-header-cell *matHeaderCellDef> Normbre usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="id_tipo_usuario">
        <th mat-header-cell *matHeaderCellDef> Tipo de usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.tipo_usuario.nombre_tipo_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="nombres_per">
        <th mat-header-cell *matHeaderCellDef> Nombre(s)</th>
        <td mat-cell *matCellDef="let element"> {{element.empleado.PersonaEmpleado.nombres_per}} </td>
      </ng-container>
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos</th>
        <td mat-cell *matCellDef="let element"> {{element.empleado.PersonaEmpleado.apellidos}} </td>
      </ng-container>
      <ng-container matColumnDef="nro_ci">
        <th mat-header-cell *matHeaderCellDef> C.I.</th>
        <td mat-cell *matCellDef="let element"> {{element.empleado.PersonaEmpleado.nro_ci}} </td>
      </ng-container>
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.empleado.PersonaEmpleado.correo}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.empleado.PersonaEmpleado.telefono}} </td>
      </ng-container>
      <ng-template [appMostrarColumn]="27" (accesoDeterminado)="agregaEditarBoton($event)">
        <ng-container matColumnDef="botonEditar" stickyEnd>
          <th *matHeaderCellDef mat-header-cell aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element" class="example-button-container">
            <button mat-icon-button color="primary" aria-label="Boton editar" (click)="editarUsuario(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-template>
    
      <ng-template [appMostrarColumn]="28" (accesoDeterminado)="agregaEliminarBoton($event)">
        <ng-container matColumnDef="botonEliminar" stickyEnd>
          <th *matHeaderCellDef mat-header-cell aria-label="row actions">&nbsp; </th>
          <td mat-cell *matCellDef="let element" class="example-button-container">
            <button mat-icon-button color="warn" aria-label="Boton eliminar" (click)="dialogEliminarUsaurio(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    </ng-template>
      <!-- <ng-container matColumnDef="accion" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <div class="example-button-container">
            <button mat-icon-button color="primary" aria-label="Boton editar" (click)="editarUsuario(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Boton eliminar" (click)="dialogEliminarUsaurio(element)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" aria-label="Select page of users"></mat-paginator>
</div>