<div class="container-fluid">
  <h4 class="p-2" style="font-size: 20px; font-weight: 500; color: #002f8d;">Dashboard</h4>
  <div class="contenedor">
    <div >
      <div class="mycard">
        <section   class="caja" >
          <h4 style="color: #002f8d;">Participantes registrados en el sistema</h4>
          <ngx-charts-bar-vertical
            [view]="view"
            scheme="cool"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legend]="false"
            (select)="onSelect($event)" >
            
          </ngx-charts-bar-vertical>
        </section>
      </div>
    </div>
    <div >
      <div class="mycard">
          <a *appControlRoles="6"  class="boton text-a" routerLink="./../seguimiento">Seguimientos</a>

          <a *appControlRoles="5"  class="boton text-a" routerLink="./../usuario">Usuarios</a>

          <a *appControlRoles="9"  class="boton text-a" routerLink="./../capacitacion">Capacitaciones</a>
      </div>
    </div>
    <div></div>
    <div></div>
    <div >
      <div class="mycard">
        <section class="caja" >
          <h4 style="color: #002f8d;">Géneros de participantes</h4>
          <ngx-charts-pie-grid
            [view]="view2"
            [scheme]="colorScheme2"
            [results]="genero"
             >
            
          </ngx-charts-pie-grid>
        </section>
      </div>
    </div>
    <div >
      <div class="card">
        <section class="caja" >
        
          <mat-calendar [(selected)]="selected"></mat-calendar>

        </section>
      </div>
    </div>
  </div>

</div>