<div class="container-fluid">
  <h4 class="p-2" style="font-size: 20px; font-weight: 500; color: #002f8d;">Dashboard</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <section   class="caja" >
        
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legend]="false"
            (select)="onSelect($event)" >
            
          </ngx-charts-bar-vertical>
        </section>
      </div>
      
      
    </div>
    <div class="col-md-6">
      <div class="card">
          <a class="boton text-a" routerLink="./../seguimiento">Seguimientos</a>

          <a class="boton text-a" routerLink="./../usuario">Usuarios</a>

          <a class="boton text-a" routerLink="./../capacitacion">Capacitaciones</a>
      </div>
    </div>
  </div>

  
  
  

</div>