.grid-container {
    margin: 30px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;
    bottom: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border: none;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

.boton{
  width: 180px;
  height: 100px;
  background-color: #ffffff;
  border: none;
  box-shadow: #0000003e 0px 0px 16px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.boton:hover{
  box-shadow: #00000024 0px 0px 16px;
  cursor: pointer;
}