<h1 mat-dialog-title>{{tituloAccion}} </h1>
<div mat-dialog-content>
  <form [formGroup]="formPersona">
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Nombre(s)</mat-label>
          <input type="text" matInput formControlName="nombres_per" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Apellido(s)</mat-label>
          <input type="text" matInput formControlName="apellidos" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>C.I</mat-label>
          <input type="text" matInput formControlName="nro_ci" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Género</mat-label>
          <mat-select formControlName="id_sexo" >
            <div *ngIf="this.listaSexo$ | async as listaSexo">
              <mat-option *ngFor="let item of listaSexo.AllSexo"  [value]="item.id_sexo">
                {{item.nombre_sexo}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput formControlName="correo" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      
     

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Celular</mat-label>
          <input type="text" matInput formControlName="telefono" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="id_ciudad" >
            <div *ngIf="this.listaCiudad$ | async as listaCiudad">
              <mat-option *ngFor="let item of listaCiudad.AllCiudad"  [value]="item.id_ciudad">
                {{item.nombre_ciudad}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker"  formControlName="fecha_nac">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="formPersona.controls['fecha_nac'].errors?.['mayorEdad']">Debes ser mayor de edad.</mat-error>
          <mat-error *ngIf="formPersona.controls['fecha_nac'].errors?.['fechaMinima']">La fecha no puede ser menor a 1920.</mat-error>
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Pais:</mat-label>
          <mat-select formControlName="id_pais" >
            <div *ngIf="this.listaPais$ | async as listaPais">
              <mat-option *ngFor="let item of listaPais.AllPais"  [value]="item.id_pais">
                {{item.nombre_pais}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      
      



    </mat-grid-list>
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button  mat-raised-button color="primary"
    (click)="crearPersona()"
    [disabled]="formPersona.invalid"
    >{{botonAccion}}
  </button>

</div>
