.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
}
.login{
    width: 50%;
    max-width: 330px;
    text-align: center;
}
.ancho{
    width: 75%;
}
.button{
    height: 50px;
}
.spinner{
    margin: 0 auto;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
