<div class="body">
    <div class="login">
        <img src="../../../assets/img/logo-sisicap.png" alt="" width="80%" class="logo-imagen">
        <mat-spinner *ngIf="cargando" class="spinner" diameter="50"></mat-spinner>
        <div class="texto-alerta">
            <mat-label class="texto-alerta" *ngIf="incorrecto">{{mensajeError}}
                <mat-icon class="conf-icon">error_outline</mat-icon>
            </mat-label>
        </div>
        
        <form *ngIf="!cargando" [formGroup]="form" class="login-body " >
            <h2>ACCESO AL SISTEMA</h2>
            <div >
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Usuario</mat-label>
                    <input type="text" matInput formControlName="nombreUsuario">        
                    <mat-icon matSuffix>account_circle</mat-icon>        
                </mat-form-field>
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="escondeContra ? 'password' : 'text'" formControlName="contrasenaUsuario">
                    <button  mat-icon-button matSuffix (click)="escondeContra = !escondeContra"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="escondeContra">
                        <mat-icon>{{escondeContra ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <input type="password"  matInput class="ancho" formControlName="contrasenaUsuario"> -->
                </mat-form-field>

                <button class="ancho" type="submit" mat-raised-button color="primary" [disabled]="form.invalid"
                    (click)="ingresar()">Ingresar</button>
            </div>                   
            <br>
        </form>
                  
    </div>   
</div>