
.ng-select .ng-value-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ng-select .ng-value-container .ng-value {
    margin: 2px;
  }
  
  .ng-select .ng-value-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    grid-gap: 5px;
  }
  
  
  .selected-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .selected-tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .ancho{
    width: 100%;
  }

  .texto-input{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .texto-input:hover{
    cursor: pointer;
  }

  .subir-archivo{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 6px 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3f51b5;    
    font: 14px "Roboto", sans-serif;
    color: #ffffff;
  }
  .subir-archivo input[type="file"] {
    display: none;
  }
  /* .subir-archivo :hover{
    background-color: #002f8d;
  } */
  .subir-archivo mat-icon{
    align-items: initial;
    margin-right: 5px;
    color: #ffffff;
  
  }

  .boton-importar{
    color: #ffffff !important;
    margin: 5px;
    background-color: #3f51b5;
  }

  .no-overlap {
    position: relative;
    /* margin-left: 8px; */
    z-index: 0;
  }