/* Structure */
.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  /*LINEAS DE TABLAS*/

.mat-colum {
  width: 15px;
  border-right: 1px solid #e0e0e0;
  padding-right: 24px;
}

th.mat-sort-header-sorted {
  color: black;
}

/* TABLA */
.example-container {
  height: 400px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: auto;
  padding-right: 8px;

}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;

}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;

}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;

}

.mat-mdc-table {
  table-layout: auto;
  white-space: nowrap;

}

.example-button-container {
  background-color: white;
  padding: 0;
}
.col-md-8{
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-form-field {
  width: 100%;
}